%div{ class: "row", id: "evaluation_count_#{image_id}" }
  .col-md-6.col-xs-6.col-sm-6.text-center
    = get_good_count image_id
  .col-md-6.col-xs-6.col-sm-6.count.text-center
    = get_bad_count image_id
